body{
	background-image: url("img/background.jpg");
	background-size: cover !important;
	background-repeat: no-repeat;
}
#game-container{
	background-image: url("img/zwaard.jpg");
	background-size: cover !important;
	text-align: center;
	width: 1400px;
	height: 900px;
	margin: 0 auto;
	font-family: 'MedievalSharp', cursive;
	border: black solid 5px;
	background-color: white;
	color: #54492d;
}
#title{
	margin-top: 0px;
	color: #54492d;
	background-color:black;
}
#description{
	text-align: center;
	margin-top: 750px;
	width: 1400px;
	height: 114px;
    color: white;
    background-color: rgba(17, 17, 17, 0.646);
}
#game-buttons{
	position: absolute;
	top: 850px;
	margin-left: 530px;




}
#button1, #button2, #button3{
  background-color: rgba(17, 17, 17, 0.646);
  font-family: 'MedievalSharp', cursive;
  color: white;
  padding: 5px;
  margin-right: 50px;
  font-size: 20px;
  border: solid black 3px;
}
#button1:hover, #button2:hover, #button3:hover{
  background-color: rgba(17, 17, 17, 0.646);
  font-family: 'MedievalSharp', cursive;
  color: #61534e;
  padding: 5px;
  margin-right: 50px;
  font-size: 20px;
  border: solid black 3px;

}
#inventory{
	background-image: url("img/inventory.jpg");
	background-size: cover !important;
	position: absolute;
	right: 3px;
	top: 10px;
	width: 250px;
	height: 899px;
	border: black solid 5px;
}
#inventoryItem{
	display: none;
	margin: 0 auto;
	width:  150px;
	height:  150px;
}
#zwaard{
	margin-top: 10px;
	margin-left: 40px;
	width:  150px;
	height:  150px;

}